@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e30sxj');
  src:  url('fonts/icomoon.eot?e30sxj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e30sxj') format('truetype'),
    url('fonts/icomoon.woff?e30sxj') format('woff'),
    url('fonts/icomoon.svg?e30sxj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram1:before {
  content: "\e905";
}
.icon-map:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e903";
}
.icon-ticket:before {
  content: "\e904";
}
.icon-home-outline:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e900";
}
.icon-map-pin:before {
  content: "\e901";
}
.icon-phone-call:before {
  content: "\e902";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-twitter1:before {
  content: "\f099";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-archive:before {
  content: "\f187";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-bathtub:before {
  content: "\f2cd";
}
.icon-s15:before {
  content: "\f2cd";
}
